Django
django-debug-toolbar>=1.4
django-filter
django-rest-swagger
djangorestframework==3.3.3
django-tastypie
django-tastypie-swagger
Markdown
MySQL-python
pip>=8.1.1
PyYAML
setuptools
wheel
pygments
docutils
django-simple-history
django-oauth-toolkit
django-cors-headers
django-simple-history
gevent
tornado