Django==2.2.21
django-debug-toolbar
django-filter
django-rest-swagger
djangorestframework
Markdown
pip>=8.1.1
PyYAML
setuptools
wheel
pygments
docutils
django-simple-history
django-oauth-toolkit
django-cors-headers
django-simple-history
gevent
tornado
mysqlclient
ipython