{% block head %}
    {% block title %}
    {% endblock %}
{% endblock %}

{% block body %}
    {% block left_navigation %}
        {% block user_profile %}
        {% endblock %}
        {% block sidebar_menu %}
        {% endblock %}
        {% block sidebar_footer %}
        {% endblock %}
    {% endblock %}

    {% block top_navigation %}
    {% endblock %}

    {% block page_main %}
        {% block main_content %}
        {% endblock %}
        {% block main_footer %}
        {% endblock %}
    {% endblock %}

    {% block script %}
    {% endblock %}
{% endblock %}